OrderWorkflow.json
{
    "StartAt": "BookHotelState",
    "States": {
        "BookHotelState": {
            "Next": "BookMuseumState",
            "Parameters": {
                "buyer_id.$": "$.purchase.buyer_id",
                "end_date.$": "$.hotel.end_date",
                "near.$": "$.museum.name",
                "start_date.$": "$.hotel.start_date"
            },
            "Resource": "arn:aws:lambda:us-east-1:xxxxx:function:BookHotelClientS1P3",
            "Retry": [ {
              "ErrorEquals": ["TransientError"],
              "IntervalSeconds": 1,
              "MaxAttempts": 3,
              "BackoffRate": 2.0
            } ],
            "ResultPath": "$.hotel",
            "Type": "Task"
        },
        "BookMuseumState": {
            "End": true,
            "Parameters": {
                "buyer_id.$": "$.purchase.buyer_id",
                "museum_name.$": "$.museum.name",
                "when.$": "$.museum.when"
            },
            "Resource": "arn:aws:lambda:us-east-1:xxxxx:function:BookMuseumClientS1P3",
            "Retry": [ {
              "ErrorEquals": ["TransientError"],
              "IntervalSeconds": 1,
              "MaxAttempts": 3,
              "BackoffRate": 2.0
            } ], 
            "Catch": [ {
              "ErrorEquals": ["States.ALL"],
              "ResultPath": "$.errorInfo",
              "Next": "CancelHotelState"
             } ],
            "ResultPath": "$.museum",
            "Type": "Task"
        },
        "CancelHotelState": {
            "End": true,
            "Resource": "arn:aws:lambda:us-east-1:xxxxx:function:CancelHotelClient",         
            "Type": "Task"
        }      
    }
}